.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 5% 0;
}
.projects h1 {
    color: white;
    text-align: center;
    text-decoration: underline;
    font-size: 2.9rem;
    margin: 0 0 0 0;
}
.projects__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1%;
}
.saveMe {
    margin: 1% 2%;
    width: 25%;
}
.thumbnail {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
    border-radius: 15px 0;
    width: 100%;
    height: 25vh;
    cursor: pointer;
    display: block;
}
.thumbnail:hover {
    filter: brightness(70%);
}
.thumbnailName {
    color: white;
    text-align: center;
    font-size: 1rem;
}
.card__container {
     position: relative;
}

/* ----------------------------------------------
------------------------------------------------- */
.model__container {
    border-radius: 15px 0;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
    display: flex;
}
.model__container a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}
.modelRight {
    background-color: #3500D3;
    border-radius: 15px 0 0 0;
    border-right: 1px solid white;
}
.modelLeft {
    background-color: #282828;
    border-radius: 0 0 15px 0;
    border-left: 1px solid white;
}
.modelRight,
.modelLeft {
    width: 12.35vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modelRight p,
.modelLeft p {
    margin: 0;
}
.modelRight:hover {
    background-color: #4719d1;
}
.modelLeft:hover {
    background-color: #3a3a3a;
}

.noExit {
    display: none
}
.exit {
    width: 4.5vw;
    height: 6vh;
    background-color: #240090;
    bottom: 0;
    left: 41%;
    border-radius: 50% 50% 0 0;
    position: absolute;
    cursor: pointer;
    z-index: 5;
    border: white solid 2px;
    border-bottom: none;
}
.exit:hover {
    background-color: #351594;
}
.rightX, 
.leftX {
    width: 1.9vw;
    height: .4vh;
    background-color: white;
    left: 28%;
    top: 50%;
    position: absolute;
    border-radius: 40%;
}
.rightX {
    transform: rotate(50deg) 
}
.leftX {
    transform: rotate(-45deg) 
}

@media (max-width: 1515px) {
    .projects {
        padding: 5% 0;
    }
    .saveMe {
        margin: 1% 2%;
        width: 28%;
    }
    .modelRight,
    .modelLeft {
        width: 14vw;
    }
    .exit {
        left: 42%;
    }
}

@media (max-width: 750px) {
    .projects {
        padding: 25% 0 10% 0;
    }
    .projects h1 {
        font-size: 1.75rem;
    }
    .projects__container {
        margin-top: 3%;
    }
    .saveMe {
        width: 170px;
        margin: 3% 2%;
    }
    .thumbnail {
        height: 85px;
    }
    .thumbnailName {
        font-size: .65rem;
    }

    /* ----------------------------------------------
    ------------------------------------------------- */
    .modelRight,
    .modelLeft {
        width: 85px;
        height: 85px;
    }
    .modelRight p,
    .modelLeft p {
        font-size: .65rem;
    }
    .exit {
        width: 45px;
        height: 35px;
        left: 36.5%;
    }
    .rightX, 
    .leftX {
        width: 19px;
        height: 2px;
    }
}