.wallpaper1 {
    display: none;
}
.wallpaper2 {
    height: 100vh;
    width: 100%;
    position: fixed;
    filter: grayscale(50%) blur(2px);
    display: block;
}
.home__container {
    width: 100%;
    
    display: flex;
    align-items: center;
    position: relative;
}

.title{
   padding: 0;
   margin: 0;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   position: relative;
}
 .title h1 {
    color: white;
    font-size: 3.6rem;
    font-weight: bold;
    text-shadow: -3px -3px 0 #282828, 3px -3px 0 #282828, -3px 3px 0 #282828, 3px 3px 0 #282828;
    text-transform: uppercase;
    margin: 8% 0 8% -100%;
} 
.welcome {
    animation: slidein .75s forwards;
    animation-delay: .5s;
}
.to {
    animation: slidein .75s forwards;
    animation-delay: 1s;
}
.nic {
    animation: slidein .75s forwards;
    animation-delay: 1.5s;
}
.portfolio {
    animation: slidein .75s forwards;
    animation-delay: 2s;
}
.nameSpan::before {
    content: "My";
    animation: textChange .65s;
    animation-delay: 2.5s;
}

.title2 {
    display: none;
}
.projectButton__wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}
.projectButton {
    position: relative;
    color: white;
    text-decoration: none;
    margin: 0 5% 10% 5%;
    display: block;
    background: #3500D3;
    padding: 2% 3%;
    border-radius: 50px;
    font-size: 1.4rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}
.projectButton:hover {
    background: #4b19e0;
}

@keyframes slidein {
    100% { margin-left: 5%; }
}

@keyframes textChange {
    0% {
        content: "Nic";
    }
    25% {
        content: "Nic";
    }
    50% {
        content: "Conaway's";
    }
    75% {
        content: "Conaway's";
    }
    100% {
        content: "My";
    }
}



@media (min-width: 1050px) {
    /* .home__container {
        padding: 3% 0 1% 0;
    } */
    .home__container {
        align-items: flex-start;
        position: relative;
    }
    .wallpaper1 {
        height: 100vh;
        width: 100%;
        position: fixed;
        filter: grayscale(50%) blur(3px) ;
        display: block;
    }
    .wallpaper2 {
        display: none;
    }
    .title {
        width: 50%;
    }
    .title h1 {
        margin: 3% 0 3% -100%;
        font-size: 4rem;
    }

    .title2 {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin: 11% 0 0 0;
        padding: 0;
        position: relative;
        right: 0;
        animation: positionChange .1s backwards;
        animation-delay: 4.1s;
    }
    .title2 h1 {
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        margin: 3% 5% 3% 0;
        text-align: end;
    }
    .fullName {
        font-size: 4rem;
        animation: slidein2 .75s backwards;
        animation-delay: 3s;
        text-shadow: -3px -3px 0 #282828, 3px -3px 0 #282828, -3px 3px 0 #282828, 3px 3px 0 #282828;
    }
    .role {
        font-size: 2.8rem;
        animation: slidein2 .75s backwards;
        animation-delay: 3.5s;
        text-shadow: -3px -3px 0 #282828, 3px -3px 0 #282828, -3px 3px 0 #282828, 3px 3px 0 #282828;
    }
    .projectButton {
        margin: 0 0 5% 0;
    }


    @keyframes slidein2 {
        from {
            margin-right: -100%;
           
        }
          to {
            margin-right: 5%;
            
          }
    } 
    @keyframes positionChange {
        from {
            position: fixed;
        }
        to {
            position: relative;
        }
    }
}

@media (min-width: 1500px) {
    .title h1 {
        margin: 6% 0 6% -100%;
        font-size: 4rem;
    }
    .title2 h1 {
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        margin: 6% 5% 6% 0;
        text-align: end;
    }
}