.home__container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(black, black), url('./HomeBackground.jpg');
    background-blend-mode: saturation;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.title{
   padding: 0;
   margin: 0;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   position: relative;
}
 .title h1 {
    color: black;
    font-size: 3.6rem;
    font-weight: bold;
    text-shadow: 3px 3px rgb(255, 255, 255), -3px -3px rgb(255, 255, 255);
    text-transform: uppercase;
    margin: 8% 0 8% -100%;
} 
.welcome {
    animation: slidein .75s forwards;
    animation-delay: 1s;
}
.to {
    animation: slidein .75s forwards;
    animation-delay: 2s;
}
.nic {
    animation: slidein .75s forwards;
    animation-delay: 3s;
}
.portfolio {
    animation: slidein .75s forwards;
    animation-delay: 4s;
}
.nameSpan::before {
    content: "My";
    animation: textChange .75s;
    animation-delay: 5s;
}

.title2 {
    display: none;
}

@keyframes slidein {
    100% { margin-left: 5%; }
}

@keyframes textChange {
    0% {
        content: "Nic";
    }
    25% {
        content: "Nic";
    }
    50% {
        content: "Conaway's";
    }
    75% {
        content: "Conaway's";
    }
    100% {
        content: "My";
    }
}

@media (min-width: 1050px) {
    .title {
        margin-top: 5%;
        width: 50%;
    }
    .title h1 {
        margin: 6% 0 6% -100%;
        font-size: 4.5rem;
    }

    .title2 {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        position: relative;
        right: 0;
        animation: positionChange .1s backwards;
        animation-delay: 7.1s;
    }
    .title2 h1 {
        color: black;
        font-weight: bold;
        text-transform: uppercase;
        margin: 4% 5% 4% 0;
        text-align: end;
    }
    .fullName {
        font-size: 4.5rem;
        animation: slidein2 .75s backwards;
        animation-delay: 6s;
        text-shadow: 3px 3px rgb(255, 255, 255), -3px -3px rgb(255, 255, 255);
    }
    .role {
        font-size: 3rem;
        animation: slidein2 .75s backwards;
        animation-delay: 6.5s;
        text-shadow: 2px 2px rgb(255, 255, 255), -2px -2px rgb(255, 255, 255);
    }


    @keyframes slidein2 {
        from {
            margin-right: -100%;
           
        }
          to {
            margin-right: 5%;
            
          }
    } 
    @keyframes positionChange {
        from {
            position: fixed;
        }
        to {
            position: relative;
        }
    }
}