.social {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 4% 0;
}
.social h1 {
    text-decoration: underline;
    font-size: 2.9rem;
    margin: 0;
    color: white;
}
.social__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 2%;
    position: relative;
}

.form__container{
    margin: 0;
    background-color: #282828;
    padding: 2% 3%;
    border-radius: 0 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 40%;
}
label {
    color: white;
}
input, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    resize: vertical;
}
.errorMessage{
    margin-bottom: 16px;
    font-size: 1.2rem;
    color: red;
}
textarea{
    height: 150px;
}
.contact__button__container {
    width: 100%;
    text-align: center;
}
.contact__button{
    background-color: #3500D3;
    padding: 12px 20px;
    border: none;
    border-radius: 5%;
    color: white;
    font-family: 'Merienda One', cursive;
}
.contact__button:hover{
    background-color: #4f23d4;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}


.socialLinks__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 15%;
}
.socialLinks {
    display: flex;
    background: white;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    border-radius: 20px;
    text-decoration: none;
    margin: 4% 0;
    color: black;
    padding: 2% 15%;
}
.socialLinks:visited {
    color: black;
}
.socialLinks:hover {
    background: rgb(221, 221, 221);
}
.socialLinks img {
    width: 12%;
}
.socialLinks p {
    margin: 0;
    font-size: 2rem;
}

@media (max-width: 1515px) {
    .social {
        padding: 6% 0;
    }
    .socialLinks__container {
        width: 20%;
    }
    .social__container {
        margin-top: 4%;
    }
    .form__container{
        width: 35%;
    }
}

@media (max-width: 750px) {
    .social {
        padding: 44% 0 30% 0;
    }
    .social h1 {
        font-size: 1.75rem;
    }
    .social__container {
        margin-top: 12%;
        flex-direction: column;
    }
    .form__container{
        width: 80%;
    }
    .socialLinks__container {
        width: 60%;
        margin: 8% 0 0 0;
    }
    .socialLinks p {
        font-size: 1rem;
    }
    
}