.footer {
    background-color: #282828;
    box-shadow: 7px 6px 10px 7px rgba(255, 255, 255, 0.712);
    bottom: 0;
    width: 100%;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footerLinks {
    width: 30%;
    display: flex;
    justify-content: space-around;
}
.footerText {
    width: 70%;
}
.footer p{
    text-align: center;
    font-size: .8rem;
    margin: 0;
    color: white;
}
.footer a {
    display: flex;
    justify-content: center;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    padding: 4%;
}
.footer img {
    width: 20px;
    height: 20px;
}

@media (min-width: 1050px) {
    .footer {
        padding-top: 15px;
        padding-bottom: 10px;
        justify-content: space-between;
    }
    .footer p{
        font-size: 1.2rem;
        margin-left: 5%;
    }
    .footer a {
        width: 25px;
        height: 25px;
        padding: 2%;
    }
    .footer img {
        width: 25px;
        height: 25px;
    }
    .footerLinks {
        width: 20%;
    }
    .footerText {
        width: 30%;
    }
}